@page
@model DetailsModel
@{
    ViewData["Title"] = $"{Model.Employee.FirstName} {Model.Employee.LastName}";
    var workExperience = Model.Employee.WorkExperiences;
    var timesheets = Model.Employee.Timesheets;
    var checkIns = Model.Employee.CheckIns;
    var leave = Model.Employee.Leaves;
    var qualifications = Model.Employee.Qualifications;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Employee Profile</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Employee Profile</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <div class="card card-secondary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="/img/user.png" alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center">@Model.Employee.FirstName @Model.Employee.LastName</h3>
                        <p class="text-muted text-center">@Model.Employee.CurrentPosition</p>
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Salary</b> <a class="float-right">$@Model.Employee.Salary</a>
                            </li>
                            <li class="list-group-item">
                                <b>Date Joined</b> <a class="float-right">@Model.Employee.DateJoined.ToString("dd-MMM-yyyy")</a>
                            </li>
                            <li class="list-group-item">
                                <b>Department</b> <a class="float-right">@Model.Employee.Department</a>
                            </li>
                            <li class="list-group-item">
                                <b>Date of Birth</b> <a class="float-right">@Model.Employee.DateOfBirth.ToString("dd-MMM-yyyy")</a>
                            </li>
                            <li class="list-group-item">
                                <b>Mobile</b> <a class="float-right">@Model.Employee.Mobile</a>
                            </li>
                            
                        </ul>
                        <a href="#" class="btn btn-info btn-block"><b>Retire/Dismiss</b></a>
                    </div>

                </div>


                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">About Me</h3>
                    </div>

                    <div class="card-body">
                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Residential Address</strong>
                        <p class="text-muted">
                            @Model.Employee.ResidentialAddress?.Street, @Model.Employee.ResidentialAddress?.City
                        </p>
                        <hr>
                        <strong><i class="fas fa-user-shield mr-1"></i> Next of Kin </strong>
                        <p class="text-muted">
                            Shamiso Dzinotyiwei, 0775 226 456
                        </p>
                        <hr>
                        <strong><i class="fas fa-envelope mr-1"></i> Email</strong>
                        <p class="text-muted">@Model.Employee.Email</p>
                        <hr>
                        @if(Model.Employee.Gender == ApplicationCore.Entities.Gender.Male)
                        {
                            <strong><i class="fas fa-male mr-1"></i> Gender</strong>
                        }
                        else
                        {
                            <strong><i class="fas fa-female mr-1"></i> Gender</strong>
                        }
                        <p class="text-muted">@Model.Employee.Gender</p>
                    </div>

                </div>

            </div>

            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                            <li class="nav-item"><a class="nav-link" href="#qualifications" data-toggle="tab">Qualifications</a></li>
                            <li class="nav-item"><a class="nav-link" href="#experience" data-toggle="tab">Work Expereience</a></li>
                            <li class="nav-item"><a class="nav-link" href="#reports" data-toggle="tab">Direct Reports</a></li>
                            <li class="nav-item"><a class="nav-link" href="#checkin" data-toggle="tab">Check Ins</a></li>
                            <li class="nav-item"><a class="nav-link" href="#leave" data-toggle="tab">Leave</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timesheets" data-toggle="tab">Timesheets</a></li>
                            <li class="nav-item"><a class="nav-link" href="#details" data-toggle="tab">Details</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="activity">

                                <div class="timeline timeline-inverse">

                                    <div class="time-label">
                                        <span class="bg-secondary">
                                            @DateTime.Now.Day @DateTime.Now.ToString("MMM"). @DateTime.Now.Year
                                        </span>
                                    </div>

                                    <div>
                                        <i class="fas fa-arrow-circle-right bg-info"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i> 8 hours ago</span>
                                            <h3 class="timeline-header border-0">
                                                <a href="#">@Model.Employee.FirstName</a> clocked in
                                            </h3>
                                        </div>
                                    </div>
                                    <div>
                                        <i class="fas fa-arrow-circle-left bg-info"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i> 3 minutes ago</span>
                                            <h3 class="timeline-header border-0">
                                                <a href="#">@Model.Employee.FirstName</a> clocked out
                                            </h3>
                                        </div>
                                    </div>

                                   <div class="time-label">
                                        <span class="bg-secondary">
                                            @DateTime.Now.AddDays(-3).Day @DateTime.Now.AddDays(-3).ToString("MMM"). @DateTime.Now.Year
                                        </span>
                                    </div>

                                    <div>
                                        <i class="fas fa-arrow-circle-right bg-info"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i> 3 days ago</span>
                                            <h3 class="timeline-header border-0">
                                                <a href="#">@Model.Employee.FirstName</a> clocked in
                                            </h3>
                                        </div>
                                    </div>

                                    <div>
                                        <i class="far fa-clock bg-gray"></i>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="qualifications">
                                <div class="row">
                                    <div class="col-12">
                                        @if (qualifications.Any())
                                        {
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <button type="button" class="btn btn-sm btn-block bg-gradient-primary" data-toggle="modal" data-target="#qualification-modal">
                                                            <i class="fas fa-plus mr-2"></i> Add Qualification
                                                        </button>
                                                    </div>
                                                    <div class="card-tools mt-1">
                                                        <div class="input-group input-group-sm" style="width: 150px;">
                                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                                            <div class="input-group-append">
                                                                <button type="submit" class="btn btn-default">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-body table-responsive p-0">
                                                    <table class="table table-hover text-nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>School</th>
                                                                <th>Level</th>
                                                                <th>Field of Study</th>
                                                                <th>Start Date</th>
                                                                <th>End Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in qualifications)
                                                            {
                                                                <tr>
                                                                    <td>@item.School</td>
                                                                    <td>@item.Level.ToString()</td>
                                                                    <td>@item.FieldOfStufy</td>
                                                                    <td>@item.StartDate.ToString("dd-MMM-yyyy")</td>
                                                                    <td>@item.EndDate?.ToString("dd-MMM-yyyy")</td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                        }
                                        else
                                        {
                                            <div class="card">

                                                <div class="card-body">
                                                    <div class="block text-center" style="margin:20px">
                                                        <object data="~/img/no_data.svg" width="300" height="100"></object>
                                                        <br />
                                                        <span class="h3 text-muted">No Qualifications</span><br />
                                                        <span class="text-muted text-sm">Use the 'Add Qualification' button below to add a qualification.</span>
                                                        <br /><br/><br/>
                                                        <button type="button" class="btn btn-sm bg-gradient-primary" data-toggle="modal" data-target="#qualification-modal">
                                                            <i class="fas fa-plus mr-2"></i> Add Qualification
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="experience">
                                <div class="row">
                                    <div class="col-12">
                                        @if (workExperience.Any())
                                        {
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <button type="button" class="btn btn-sm btn-block bg-gradient-primary" data-toggle="modal" data-target="#work-experience-modal">
                                                            <i class="fas fa-plus mr-2"></i> Add Position
                                                        </button>
                                                    </div>
                                                    <div class="card-tools mt-1">
                                                        <div class="input-group input-group-sm" style="width: 150px;">
                                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                                            <div class="input-group-append">
                                                                <button type="submit" class="btn btn-default">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-body table-responsive p-0">
                                                    <table class="table table-hover text-nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>Job Title</th>
                                                                <th>Start Date</th>
                                                                <th>End Date</th>
                                                                <th>Salary</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in workExperience)
                                                            {
                                                                <tr>
                                                                    <td>@item.JobTitle</td>
                                                                    <td>@item.StartDate.ToString("dd-MMM-yyyy")</td>
                                                                    <td>@item.EndDate?.ToString("dd-MMM-yyyy")</td>
                                                                    <td>$@item.Salary</td>
                                                                    <td>
                                                                        <a class="text-dark mr-2" title="Add Benefits" asp-page="/Departments/Edit" asp-route-id="@item.JobTitle">
                                                                            <i class="fas fa-coins"></i>
                                                                        </a>
                                                                        <a class="text-danger" title="delete" href="#"><i class="fas fa-trash-alt"></i></a>
                                                                    </td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                        }
                                        else
                                        {
                                            <div class="card">

                                                <div class="card-body">
                                                    <div class="block text-center" style="margin:20px">
                                                        <object data="~/img/no_data.svg" width="300" height="100"></object>
                                                        <br />
                                                        <span class="h3 text-muted">No Payments</span><br />
                                                        <span class="text-muted text-sm">Use the 'Add Position' button below to add a position.</span><br />
                                                        <button type="button" class="btn btn-sm bg-gradient-primary" data-toggle="modal" data-target="#work-experience-modal">
                                                            <i class="fas fa-plus mr-2"></i> Add Position
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="reports">
                                <div class="row">
                                    <div class="col-12">
                                        @if (workExperience.Any())
                                        {
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <button type="button" class="btn btn-sm btn-block bg-gradient-primary" data-toggle="modal" data-target="#work-experience-modal">
                                                            <i class="fas fa-plus mr-2"></i> Add Direct Report
                                                        </button>
                                                    </div>
                                                    <div class="card-tools mt-1">
                                                        <div class="input-group input-group-sm" style="width: 150px;">
                                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                                            <div class="input-group-append">
                                                                <button type="submit" class="btn btn-default">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-body table-responsive p-0">
                                                    <table class="table table-hover text-nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>Employee</th>
                                                                <th>Date Joined</th>
                                                                <th>Position</th>
                                                                <th>Mobile</th>
                                                                <th>Gender</th>
                                                                <th>Age</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in workExperience)
                                                            {
                                                                <tr>
                                                                    <td>@item.JobTitle</td>
                                                                    <td>@item.StartDate.ToString("dd-MMM-yyyy")</td>
                                                                    <td>@item.EndDate?.ToString("dd-MMM-yyyy")</td>
                                                                    <td>$@item.Salary</td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                        }
                                        else
                                        {
                                            <div class="card">

                                                <div class="card-body">
                                                    <div class="block text-center" style="margin:20px">
                                                        <object data="~/img/no_data.svg" width="300" height="100"></object>
                                                        <br />
                                                        <span class="h3 text-muted">No Payments</span><br />
                                                        <span class="text-muted text-sm">Use the 'Add Position' button below to add a position.</span><br />
                                                        <button type="button" class="btn btn-sm bg-gradient-primary" data-toggle="modal" data-target="#work-experience-modal">
                                                            <i class="fas fa-plus mr-2"></i> Add Position
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="checkin">
                                 <div class="row">
                                    <div class="col-12">
                                       @if(checkIns.Any())
                                        {
                                             <div class="card">
                                            <div class="card-header">
                                                <div class="card-title">
                                                        <button type="button" class="btn btn-sm btn-block bg-gradient-primary" data-toggle="modal" data-target="#check-in-modal">
                                                            <i class="fas fa-plus mr-2"></i> Check In
                                                        </button>
                                                </div>
                                                <div class="card-tools mt-1">
                                                    <div class="input-group input-group-sm" style="width: 150px;">
                                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-default">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                                <div class="card-body table-responsive p-0">
                                                    <table class="table table-hover text-nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Time In</th>
                                                                <th>Time Out</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in checkIns)
                                                            {
                                                                <tr>
                                                                    <td>@item.Date.ToString("dd-MMM-yyyy")</td>
                                                                    <td>
                                                                        @item.TimeIn
                                                                    </td>
                                                                    <td>
                                                                        @item.TimeOut
                                                                    </td>
                                                                    
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>

                                        </div>

                                        }
                                        else
                                        {
                                            <div class="card">

                                                <div class="card-body">
                                                    <div class="block text-center" style="margin:20px">
                                                        <object data="~/img/no_data.svg" width="300" height="100"></object>
                                                        <br />
                                                        <span class="h3 text-muted">No Check Ins</span><br />
                                                        <span class="text-muted text-sm">Use the 'Check in' button below to check in.</span><br />
                                                        <button type="button" class="btn btn-sm bg-gradient-primary" data-toggle="modal" data-target="#check-in-modal">
                                                            <i class="fas fa-plus mr-2"></i> Check In
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="leave">
                                <div class="row">
                                    <div class="col-12">
                                       @if(leave.Any())
                                        {
                                             <div class="card">
                                            <div class="card-header">
                                                <div class="card-title">
                                                        <button type="button" class="btn btn-sm btn-block bg-gradient-primary" data-toggle="modal" data-target="#leave-modal">
                                                            <i class="fas fa-plus mr-2"></i> Add Leave
                                                        </button>
                                                </div>
                                                <div class="card-tools mt-1">
                                                    <div class="input-group input-group-sm" style="width: 150px;">
                                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-default">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                                <div class="card-body table-responsive p-0">
                                                    <table class="table table-hover text-nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>Category</th>
                                                                <th>Start Date</th>
                                                                <th>End Date</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in leave)
                                                            {
                                                                <tr>
                                                                    <td>@item.LeaveCategory</td>
                                                                    <td>@item.StartDate.ToString("dd-MMM-yyyy")</td>
                                                                    <td>@item.EndDate.ToString("dd-MMM-yyyy")</td>
                                                                    <td><span class="badge badge-info">@item.LeaveStatus.ToString()</span></td>                                                                    
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>

                                        </div>

                                        }
                                        else
                                        {
                                            <div class="card">

                                                <div class="card-body">
                                                    <div class="block text-center" style="margin:20px">
                                                        <object data="~/img/no_data.svg" width="300" height="100"></object>
                                                        <br />
                                                        <span class="h3 text-muted">No Leave Requests</span><br />
                                                        <span class="text-muted text-sm">Use the 'Add Leave' button below to add leave.</span><br />
                                                        <button type="button" class="btn btn-sm bg-gradient-primary" data-toggle="modal" data-target="#leave-modal">
                                                            <i class="fas fa-plus mr-2"></i> Add Leave
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="timesheets">
                                <div class="row">
                                    <div class="col-12">
                                        @if (timesheets.Any())
                                        {
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <button type="button" class="btn btn-sm btn-block bg-gradient-primary" data-toggle="modal" data-target="#timesheet-modal">
                                                            <i class="fas fa-plus mr-2"></i> Add Timesheet
                                                        </button>
                                                    </div>
                                                    <div class="card-tools mt-1">
                                                        <div class="input-group input-group-sm" style="width: 150px;">
                                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                                            <div class="input-group-append">
                                                                <button type="submit" class="btn btn-default">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-body table-responsive p-0">
                                                    <table class="table table-hover text-nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Description</th>
                                                                <th>Number of Hours</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in timesheets)
                                                            {
                                                                <tr>
                                                                    <td>@item.Date.ToString("dd-MMM-yyyy")</td>
                                                                    <td>@item.Description</td>
                                                                    <td>@item.NumberOfHours</td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                        }
                                        else
                                        {
                                            <div class="card">

                                                <div class="card-body">
                                                    <div class="block text-center" style="margin:20px">
                                                        <object data="~/img/no_data.svg" width="300" height="100"></object>
                                                        <br />
                                                        <span class="h3 text-muted">No Timesheets</span><br />
                                                        <span class="text-muted text-sm">Use the 'Add Timesheet' button below to add timesheet.</span><br />
                                                        <button type="button" class="btn btn-sm bg-gradient-primary" data-toggle="modal" data-target="#timesheet-modal">
                                                            <i class="fas fa-plus mr-2"></i> Add Timesheet
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="details">
                                <form method="post" class="form-horizontal">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label asp-for="Employee.FirstName" class="col-sm-3 col-form-label">First Name <code>*</code></label>
                                                    <input type="text" class="form-control form-control-sm" asp-for="Employee.FirstName" placeholder="Enter first name">
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Employee.SalutationId" class="col-sm-3 col-form-label">Salutation <code>*</code></label>
                                                    <select class="form-control" asp-for="Employee.SalutationId" asp-items="Model.Employee.Salutations">
                                                        <option value="">Please select</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Employee.DateJoined" class="col-sm-3 col-form-label">Date Joined <code>*</code></label>
                                                    <input type="date" class="form-control form-control-sm" asp-for="Employee.DateJoined" placeholder="Enter date joined">
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Employee.DepartmentId" class="col-sm-3 col-form-label">Department <code>*</code></label>
                                                    <select class="form-control" asp-for="Employee.DepartmentId" asp-items="Model.Employee.Departments">
                                                        <option value="">Please select</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Employee.Mobile" class="col-sm-3 col-form-label">Mobile <code>*</code></label>
                                                    <input type="text" class="form-control form-control-sm" asp-for="Employee.Mobile" placeholder="Enter mobile">
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Employee.EmployeeType" class="col-sm-3 col-form-label">Employee Type <code>*</code></label>
                                                    <select class="form-control" asp-for="Employee.EmployeeType" asp-items="Html.GetEnumSelectList<Edgias.Humano.ApplicationCore.Entities.EmployeeType>()">
                                                        <option value="">Please select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label asp-for="Employee.LastName" class="col-sm-3 col-form-label">Last Name <code>*</code></label>
                                                    <input type="text" class="form-control form-control-sm" asp-for="Employee.LastName" placeholder="Enter last name">
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Employee.DateOfBirth" class="col-sm-3 col-form-label">Date of Birth <code>*</code></label>
                                                    <input type="date" class="form-control form-control-sm" asp-for="Employee.DateOfBirth" placeholder="Enter date of birth">
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Employee.Gender" class="col-sm-2 col-form-label">Gender <code>*</code></label>
                                                    <select class="form-control" asp-for="Employee.Gender" asp-items="Html.GetEnumSelectList<Edgias.Humano.ApplicationCore.Entities.Gender>()">
                                                        <option value="">Please select</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Employee.NationalId" class="col-sm-4 col-form-label">National ID Number <code>*</code></label>
                                                    <input type="text" class="form-control form-control-sm" asp-for="Employee.NationalId" placeholder="Enter id number">
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Employee.Email" class="col-sm-3 col-form-label">Email </label>
                                                    <input type="text" class="form-control form-control-sm" asp-for="Employee.Email" placeholder="Enter email">
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Employee.ManagerId" class="col-sm-3 col-form-label">Manager </label>
                                                    <select class="form-control" asp-for="Employee.ManagerId" asp-items="Model.Employee.Managers">
                                                        <option value="">Please select</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Employee.ResidentialAddress.Street" class="col-sm-2 col-form-label">Street <code>*</code></label>
                                            <input type="text" class="form-control form-control-sm" asp-for="Employee.ResidentialAddress.Street" placeholder="Enter street">
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label asp-for="Employee.ResidentialAddress.City" class="col-sm-2 col-form-label">City <code>*</code></label>
                                                    <input type="text" class="form-control form-control-sm" asp-for="Employee.ResidentialAddress.City" placeholder="Enter city">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label asp-for="Employee.ResidentialAddress.State" class="col-sm-2 col-form-label"></label>
                                                    <input type="text" class="form-control form-control-sm" asp-for="Employee.ResidentialAddress.State" placeholder="Enter state">
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-sm bg-gradient-primary">Update</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>

<partial name="_CheckInModal" model="@Model.CheckInModalModel" />
<partial name="_LeaveModal" model="@Model.LeaveModalModel" />
<partial name="_QualificationModal" model="@Model.QualificationModalModel" />
<partial name="_TimesheetModal" model="@Model.TimesheetModalModel" />
<partial name="_WorkExperienceModal" model="@Model.WorkExperienceModalModel" />